.googleSignupBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 38px;
    border-radius: 50px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    text-rendering: optimizeLegibility;;
}